# 1. 변수와 데이터 타입 기초
## 1.1. 변수 선언과 값 할당
변수는 데이터를 저장하는 공간을 나타냅니다. Python에서 변수는 특정 값에 이름을 붙여서 사용합니다.

In [2]:
# 변수 선언과 값 할당
x = 10           # 정수형
name = "Alice"    # 문자열
height = 1.75     # 실수형
is_student = True # 불리언

## 1.2. 데이터 타입 확인하기
Python에서는 type() 함수를 사용하여 변수의 데이터 타입을 확인할 수 있습니다.

In [3]:
print(type(x))        # <class 'int'>
print(type(name))     # <class 'str'>
print(type(height))   # <class 'float'>
print(type(is_student)) # <class 'bool'>

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

In [15]:
print(x)
print(name)

10
철수

In [5]:
print('x = ', x)      
print('name = ', name)     
print('height = ', height)   
print('is_student = ', is_student)

x =  10
name =  Alice
height =  1.75
is_student =  True

## 1.3. 데이터 타입 변환하기
Python에서는 데이터를 다른 타입으로 변환할 수 있습니다. 예를 들어, 정수를 실수로 변환하거나 문자열을 숫자로 변환할 수 있습니다.

In [18]:
# 데이터 타입 변환 예제
num_str = "100"     # 문자열
num_int = int(num_str)  # 문자열을 정수로 변환
print(num_int + 1)       # 100

height_str = str(height)  # 실수를 문자열로 변환
print(height_str)   # '1.75'

101
1.75

# 2. 다양한 데이터 타입 실습
## 2.1. 정수 (int)
정수는 소수점이 없는 숫자를 나타냅니다.

In [23]:
# 정수 예제
num1 = 50
num2 = -7
sum_result = num1 + num2
print("합:", sum_result)  # 43

합: 43

## 2.2. 실수 (float)
실수는 소수점이 있는 숫자를 나타냅니다.

In [28]:
# 실수 예제
height = 1.75
weight = 70.5
bmi = weight / (height ** 2)  # BMI 계산
print("BMI:", bmi)  # 22.98 (대략적인 결과)

BMI: 23.020408163265305

## 2.3. 문자열 (str)
문자열은 작은따옴표(') 또는 큰따옴표(")로 감싸서 만들 수 있습니다.

In [32]:
# 문자열 예제
greeting = "Hello, World!"
print(greeting)  # Hello, World!

# 문자열 연결 (concatenation)
full_greeting = "Hello" + " " + "Alice!"
print(full_greeting)  # Hello Alice!

Hello, World!
Hello Alice!

## 2.4. 불리언 (bool)
불리언은 True 또는 False 값만 가질 수 있는 데이터 타입입니다.

In [39]:
# 불리언 예제
is_raining = True
is_sunny = False

print("비가 오나요?", is_raining)  # True
print("맑은 날인가요?", is_sunny)  # False

비가 오나요? True
맑은 날인가요? False

In [35]:
b_txt = False
print(b_txt)

False

In [38]:
if 0 == False:
    print('참')
else:
    print('거짓')

참

# 3. 데이터 타입 연산

## 3.1. 정수와 실수 연산
정수와 실수는 서로 연산이 가능하며, 실수 결과를 반환합니다.

In [40]:
# 정수와 실수 연산
num1 = 10
num2 = 3

In [41]:
# 덧셈
sum_result = num1 + num2  # 10 + 3 = 13
print("덧셈 결과:", sum_result)

덧셈 결과: 13

In [42]:
# 나눗셈 (결과는 실수형)
division_result = num1 / num2  # 10 / 3 = 3.333...
print("나눗셈 결과:", division_result)

나눗셈 결과: 3.3333333333333335

In [43]:
# 나머지 구하기 (정수형)
mod_result = num1 % num2  # 10 % 3 = 1
print("나머지:", mod_result)

나머지: 1