# 1. 조건문 예제

## 1.1: 짝수와 홀수 판별하기

In [20]:
number = int(input("정수를 입력하세요: "))

if number % 2 == 0:
    print(f"{number}은(는) 짝수입니다.")
else:
    print(f"{number}은(는) 홀수입니다.")

정수를 입력하세요:  55

55은(는) 홀수입니다.

## 1.2 성적에 따른 학점 출력

In [19]:
# 점수를 입력받아 학점을 출력
score = int(input("점수를 입력하세요 (0 ~ 100): "))

if score >= 90:
    print("A학점입니다.")
elif score >= 80:
    print("B학점입니다.")
elif score >= 70:
    print("C학점입니다.")
elif score >= 60:
    print("D학점입니다.")
else:
    print("F학점입니다.")

점수를 입력하세요 (0 ~ 100):  45

F학점입니다.

# 1.3 로그인 시스템

In [29]:
# 간단한 로그인 시스템
user_id = "admin"
user_pw = "1234"

input_id = input('사용자 아이디를 입력하세요')
input_pw = input('사용자 비밀번호를 입력하세요')
if user_id == input_id:
    if user_pw == input_pw:
        print('로그인 성공!')
    else:
        print('비밀번호가 틀립니다.')
else:
    print('등록된 사용자 아이디가 틀립니다.')

사용자 아이디를 입력하세요 admin
사용자 비밀번호를 입력하세요 1234

로그인 성공!

In [28]:
# 간단한 로그인 시스템
user_id = "admin"
user_pw = "1234"

input_id = input('사용자 아이디를 입력하세요')
input_pw = input('사용자 비밀번호를 입력하세요')

if user_id == input_id and user_pw == input_pw:
    print('로그인 성공!')
else:
    print('등록된 사용자 아이디나 비밀번호가 틀립니다.')

사용자 아이디를 입력하세요 ㅁㅇ
사용자 비밀번호를 입력하세요 ㅁㅇ

등록된 사용자 아이디나 비밀번호가 틀립니다.

# 2. 반복문 예제

# 2.1 1부터 10까지 숫자 출력 (for문)

In [37]:
for i in range(1,11):  #(초기값, 목표값+1, 증가값)
    print(i)

1
2
3
4
5
6
7
8
9
10

In [36]:
for i in range(1,11,2):  #(초기값, 목표값+1, 증가값)
    print(i)

1
3
5
7
9

In [40]:
text_list = ['a', 'b' , 'c', 'd']

for txt in text_list:
    print(txt)

a
b
c
d

In [42]:
text_list = ['a', 'b' , 'c', 'd']

for txt in text_list:
    print(txt, end=" ")

a b c d

## 2.2 특정 단 구구단 출력

In [44]:
# 사용자로부터 구구단 단수를 입력받아 출력
dan = int(input("출력할 구구단의 단수를 입력하세요: "))

for i in range(1, 10):
    print(f'{dan} X {i} = {dan *i}')

출력할 구구단의 단수를 입력하세요:  5

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

## 2.3 리스트 요소 출력

In [45]:
#리스트에 저장된 과일 이름 출력
fruits = ["사과", "바나나", "포도", "오렌지"]

for fruit in fruits:
    print(fruit)

사과
바나나
포도
오렌지

In [48]:
#리스트에 저장된 과일 이름 출력
fruits = ["사과", "바나나", "포도", "오렌지"]

for fruit in fruits:
    print(fruit,end=" ")

사과 바나나 포도 오렌지

## 2.4 for 문 사용해서 1 ~ 100까지 합계 구하기

tot = 0

for i in range(1,101):
    tot = tot + i
print('합계 =', tot)

## 2.5 while 문 사용해서 1 ~ 100까지 합계 구하기

In [61]:
# while문에서 break 사용 예제
tot = 0
cnt = 0

while True:
    if cnt > 99:
        break
        
    cnt = cnt + 1
    tot = tot + cnt
print('합계 =', tot)

합계 = 5050

In [62]:
tot = 0
cnt = 0
while cnt < 100:
        
    cnt = cnt + 1
    tot = tot + cnt
print(f"1부터 {cnt}까지의 합은 {tot}입니다.")

1부터 100까지의 합은 5050입니다.

## 2.6 continue 사용 예제

In [1]:
# 1 부터 10까지 출력하는데 홀수만 출력하시오.

for i in range(1, 11):
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9

In [2]:
# 1 부터 10까지 출력하는데 짝수만 출력하시오.

for i in range(1, 11):
    if i % 2 == 1:
        continue
    print(i)

2
4
6
8
10

## 2.7 별 출력 프로그램

In [70]:
# 사용자로부터 숫자를 입력받아서 해당 숫자 만큼 별을 출력

n = int(input('출력할 줄 수를 입력하세요:'))

for i in range(1, n + 1):
    print('*' * i)

출력할 줄 수를 입력하세요: 3

*
**
***

## 2.8 숫자 피라미드 (세모)

In [71]:
n= int(input('피라미드의 높이를 입력하세요:'))

for i = in range(1, n + 1 ):
    for J in range(1, ):
        print(, end=' ')
    print()

SyntaxError: invalid syntax (41792825.py, line 2)

In [79]:
n= int(input('피라미드 높이:'))

for i in range(1, n+1):
    print(i)

피라미드 높이: 5

1
2
3
4
5

In [92]:
n= int(input('피라미드 높이:'))

for i in range(1, n+1):
    for J in range(1, i+1):
        print(i, end=" ")
    print()

피라미드 높이: 5

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [93]:
n= int(input('피라미드 높이:'))

for i in range(1, n+1):
    for J in range(1, i+1):
        print(J, end=" ")
    print()

피라미드 높이: 5

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [108]:
n= int(input('피라미드 높이:'))

for i in range(1, n+1):
    print(i)

피라미드 높이: 3

1
2
3

In [112]:
## 2.9 구구단 만들기
for i in range(1,10):
    print(f'\n    {i} 단')
    for j in range(1,10):
        print(f' {i} X {j} = {i * j}')

    1 단
 1 X 1 = 1
 1 X 2 = 2
 1 X 3 = 3
 1 X 4 = 4
 1 X 5 = 5
 1 X 6 = 6
 1 X 7 = 7
 1 X 8 = 8
 1 X 9 = 9

    2 단
 2 X 1 = 2
 2 X 2 = 4
 2 X 3 = 6
 2 X 4 = 8
 2 X 5 = 10
 2 X 6 = 12
 2 X 7 = 14
 2 X 8 = 16
 2 X 9 = 18

    3 단
 3 X 1 = 3
 3 X 2 = 6
 3 X 3 = 9
 3 X 4 = 12
 3 X 5 = 15
 3 X 6 = 18
 3 X 7 = 21
 3 X 8 = 24
 3 X 9 = 27

    4 단
 4 X 1 = 4
 4 X 2 = 8
 4 X 3 = 12
 4 X 4 = 16
 4 X 5 = 20
 4 X 6 = 24
 4 X 7 = 28
 4 X 8 = 32
 4 X 9 = 36

    5 단
 5 X 1 = 5
 5 X 2 = 10
 5 X 3 = 15
 5 X 4 = 20
 5 X 5 = 25
 5 X 6 = 30
 5 X 7 = 35
 5 X 8 = 40
 5 X 9 = 45

    6 단
 6 X 1 = 6
 6 X 2 = 12
 6 X 3 = 18
 6 X 4 = 24
 6 X 5 = 30
 6 X 6 = 36
 6 X 7 = 42
 6 X 8 = 48
 6 X 9 = 54

    7 단
 7 X 1 = 7
 7 X 2 = 14
 7 X 3 = 21
 7 X 4 = 28
 7 X 5 = 35
 7 X 6 = 42
 7 X 7 = 49
 7 X 8 = 56
 7 X 9 = 63

    8 단
 8 X 1 = 8
 8 X 2 = 16
 8 X 3 = 24
 8 X 4 = 32
 8 X 5 = 40
 8 X 6 = 48
 8 X 7 = 56
 8 X 8 = 64
 8 X 9 = 72

    9 단
 9 X 1 = 9
 9 X 2 = 18
 9 X 3 = 27
 9 X 4 = 36
 9 X 5 = 45
 9 X 6 = 54
 9 X 7 = 63
 9 X 8 = 72
 9 X 9 = 81

In [135]:
## 2.9 구구단 만들기
for i in range(1,4):
    print(f'\n    {i} 단')
    for j in range(1,10):
        A = print(f' {i} X {j} = {i * j}')
    print()

    1 단
 1 X 1 = 1
 1 X 2 = 2
 1 X 3 = 3
 1 X 4 = 4
 1 X 5 = 5
 1 X 6 = 6
 1 X 7 = 7
 1 X 8 = 8
 1 X 9 = 9


    2 단
 2 X 1 = 2
 2 X 2 = 4
 2 X 3 = 6
 2 X 4 = 8
 2 X 5 = 10
 2 X 6 = 12
 2 X 7 = 14
 2 X 8 = 16
 2 X 9 = 18


    3 단
 3 X 1 = 3
 3 X 2 = 6
 3 X 3 = 9
 3 X 4 = 12
 3 X 5 = 15
 3 X 6 = 18
 3 X 7 = 21
 3 X 8 = 24
 3 X 9 = 27

In [141]:
for j in range(1,10):
    for i in range(1,4):
        print(f'{i} X {j} = {i * j}', end='\t')
    print()

1 X 1 = 1	2 X 1 = 2	3 X 1 = 3
1 X 2 = 2	2 X 2 = 4	3 X 2 = 6
1 X 3 = 3	2 X 3 = 6	3 X 3 = 9
1 X 4 = 4	2 X 4 = 8	3 X 4 = 12
1 X 5 = 5	2 X 5 = 10	3 X 5 = 15
1 X 6 = 6	2 X 6 = 12	3 X 6 = 18
1 X 7 = 7	2 X 7 = 14	3 X 7 = 21
1 X 8 = 8	2 X 8 = 16	3 X 8 = 24
1 X 9 = 9	2 X 9 = 18	3 X 9 = 27

In [10]:
for i in range(1,10,3):
    print(f'\n    {i} 단    {i+1} 단     {i+2} 단')
    for j in range(1, 10):
        print(f'\n {i} x {j} = {i* j} {i+1} x {j} = {(i+1)* j } {i+2} x {j} = {(i+2)* j}')

    1 단    2 단     3 단

 1 x 1 = 1 2 x 1 = 2 3 x 1 = 3

 1 x 2 = 2 2 x 2 = 4 3 x 2 = 6

 1 x 3 = 3 2 x 3 = 6 3 x 3 = 9

 1 x 4 = 4 2 x 4 = 8 3 x 4 = 12

 1 x 5 = 5 2 x 5 = 10 3 x 5 = 15

 1 x 6 = 6 2 x 6 = 12 3 x 6 = 18

 1 x 7 = 7 2 x 7 = 14 3 x 7 = 21

 1 x 8 = 8 2 x 8 = 16 3 x 8 = 24

 1 x 9 = 9 2 x 9 = 18 3 x 9 = 27

    4 단    5 단     6 단

 4 x 1 = 4 5 x 1 = 5 6 x 1 = 6

 4 x 2 = 8 5 x 2 = 10 6 x 2 = 12

 4 x 3 = 12 5 x 3 = 15 6 x 3 = 18

 4 x 4 = 16 5 x 4 = 20 6 x 4 = 24

 4 x 5 = 20 5 x 5 = 25 6 x 5 = 30

 4 x 6 = 24 5 x 6 = 30 6 x 6 = 36

 4 x 7 = 28 5 x 7 = 35 6 x 7 = 42

 4 x 8 = 32 5 x 8 = 40 6 x 8 = 48

 4 x 9 = 36 5 x 9 = 45 6 x 9 = 54

    7 단    8 단     9 단

 7 x 1 = 7 8 x 1 = 8 9 x 1 = 9

 7 x 2 = 14 8 x 2 = 16 9 x 2 = 18

 7 x 3 = 21 8 x 3 = 24 9 x 3 = 27

 7 x 4 = 28 8 x 4 = 32 9 x 4 = 36

 7 x 5 = 35 8 x 5 = 40 9 x 5 = 45

 7 x 6 = 42 8 x 6 = 48 9 x 6 = 54

 7 x 7 = 49 8 x 7 = 56 9 x 7 = 63

 7 x 8 = 56 8 x 8 = 64 9 x 8 = 72

 7 x 9 = 63 8 x 9 = 72 9 x 9 = 81

# 원 6개 그리기

In [8]:
import turtle

t = turtle.Turtle()
t.circle(100)  #반지름이 100인 원을 그려라
t.left(60)      # 각도를 왼쪽으로 60도 만큼 회전
t.circle(100)
t.left(60) 
t.circle(100)
t.left(60) 
t.circle(100)
t.left(60) 
t.circle(100)
t.left(60) 
t.circle(100)
t.left(60) 

turtle.exitonclick()

Terminator:

In [9]:
import turtle

t=turtle.Turtle()
for _ in range(6):
    t.circle(100)
    t.left(60)

turtle.exitonclick()

Terminator:

# n각형을 그리기
- 사용자로부터 정수 n (3 이상) 을 입력받아서 한변의 길이가 100인 정 n각형을 그려라

In [1]:
import turtle
import time
t = turtle.Turtle()

n = int(input('3 이상의 정수를 입력하시오'))

for _ in range(n):
    time.sleep(1)
    t.forward(100)
    t.left(360 / n)

turtle.exitonclick()

del t # 객체 지우기
try:
    turtle.bye()
except:
    pass

3 이상의 정수를 입력하시오 6

In [7]:
# 별을 그리는 프로그램을 작성하시오

import turtle
import time

t = turtle.Turtle()


for _ in range(5):
    time.sleep(1)
    t.forward(200)
    t.left((360 / 5)*2)

t.right(72)
t.circle(106)
turtle.exitonclick()

del t # 객체 지우기
try:
    turtle.bye()
except:
    pass