In [2]:
#튜플은 프로그램이 시작되면 내용을 변경 할 수 없음
#중요 데이터에 사용
leg_day = ('스쿼트', '런지', ' 레그컬')
leg_day

('스쿼트', '런지', ' 레그컬')

In [3]:
leg_day[0]

'스쿼트'

In [4]:
leg_day[0] = '벤치프레스'

TypeError: 'tuple' object does not support item assignment

In [5]:
leg_day.append('숄더프레스')

AttributeError: 'tuple' object has no attribute 'append'

In [6]:
del leg_day[0]

TypeError: 'tuple' object doesn't support item deletion

In [7]:
# 딕셔너리 { key : value }

stock_prices = {  
                    '삼성전자' : 60000, 
                    'SK하이닉스' : 140000, 
                    '네이버' : 350000
}

stock_prices

{'삼성전자': 60000, 'SK하이닉스': 140000, '네이버': 350000}

In [8]:
stock_prices['삼성전자']

60000

In [9]:
stock_prices['카카오']

KeyError: '카카오'

In [10]:
for key_value in stock_prices:
    print(key_value)

삼성전자
SK하이닉스
네이버

In [14]:
for key in stock_prices.keys():
    print(key)

삼성전자
SK하이닉스
네이버

In [15]:
for value in stock_prices.values():
    print(value)

60000
140000
350000

In [16]:
for key, value in stock_prices.items():
    print(key, value)

삼성전자 60000
SK하이닉스 140000
네이버 350000

In [21]:
# key 별 주가를 더해서 평균 주가 프린트  sum(), len()

stock_prices = {  
                    '삼성전자' : [60000, 61000, 62000],
                    'SK하이닉스' : [140000, 141000, 150000,200000], 
                    '네이버' : [350000, 355000,360000]
}
for key, value in stock_prices.items():
    print(key, value)

삼성전자 [60000, 61000, 62000]
SK하이닉스 [140000, 141000, 150000, 200000]
네이버 [350000, 355000, 360000]

In [27]:
for key, value in stock_prices.items():
    print(key, sum(value)/len(value))  # len : 변수의 개수를 세어줌
    avg = sum(value)/len(value) 
    print(f' {key} 평균 주가 {int(avg)}')

삼성전자 61000.0
 삼성전자 평균 주가 61000
SK하이닉스 157750.0
 SK하이닉스 평균 주가 157750
네이버 355000.0
 네이버 평균 주가 355000

In [28]:
# 딕셔너리 안에 딕셔너리
# 각 회사별로 주가의 최고가와 최저가를 구하시오.

stock_prices = {  
                    '삼성전자' : {'최고가' : 80000, '최저가' : 61000, '현재가' : 62000},
                    'SK하이닉스' : {'최고가' : 140000, '최저가' : 141000, '현재가': 150000}, 
                    '네이버' : {'최고가' : 350000, '최저가' : 355000, '현재가': 360000}
}

In [43]:
for key, value in stock_prices.items():
    print(f' {key} - 최고가{value["최고가"]}, 최저가 {value["최저가"]}')

 삼성전자 - 최고가80000, 최저가 61000
 SK하이닉스 - 최고가140000, 최저가 141000
 네이버 - 최고가350000, 최저가 355000

In [44]:
for key, value in stock_prices.items():
    max_value = value["최고가"]
    min_value = value["최저가"]
    print(f' {key} - 최고가 : {max_value}, 최저가 : {min_value}')

 삼성전자 - 최고가 : 80000, 최저가 : 61000
 SK하이닉스 - 최고가 : 140000, 최저가 : 141000
 네이버 - 최고가 : 350000, 최저가 : 355000