In [2]:
ca = [10, 17, 13, 11]  # max로 지정하는 경우 max 사용시 뒤에서 오류 발생

max = ca [0]
if max < ca [1]:
    max=ca[1]
if max < ca [2]:
    max=ca[2]
if max < ca [3]:
    max=ca[3]

print(max)

17

# for 문을 사용해서 최대값 찾기

In [3]:
ca = [10, 17, 13, 11]

max = ca [0]
for sb in range(1,4):
    if max < ca [sb]:
        max=ca[sb]

print (max)

17

# 원소의 개수를 모를 경우

In [6]:
ca = [10, 17, 13, 11]

max = ca [0]
for sb in ca:
    if max < sb:
        max=sb
print (max)

17

In [7]:
ca = [10, 17, 13, 11]

max = ca [0]
for sb in range(1,len(ca)):
    if max < ca [sb]:
        max=ca[sb]

print (max)

17

In [16]:
ca = [10, 17, 13, 11]
max(ca)

17

# 원소의 정렬(sort)

In [27]:
ca = [21,10,11,15,13]

mina = ca[0]
minix = 0

for sb in range (1, len(ca)):  # 1이니까 10부터
    if mina > ca[sb]:
        mina = ca[sb]
        minix = sb
    
temp = ca [0]
ca[0] = ca [minix]
ca [minix] = temp

print(ca)

[10, 21, 11, 15, 13]

In [32]:
ca = [21,10,11,15,13]
for sa in range(0, len(ca)-1):
    mina = ca[sa]
    minix = sa

    for sb in range (sa+1, len(ca)):  # 1이니까 10부터
        if mina > ca[sb]:
           mina = ca[sb]
           minix = sb
    
    temp = ca [sa]
    ca[sa] = ca [minix]
    ca [minix] = temp

    print(ca)

[10, 21, 11, 15, 13]
[10, 11, 21, 15, 13]
[10, 11, 13, 15, 21]
[10, 11, 13, 15, 21]

In [37]:
def user_sort(ca):
   
    for sa in range(0, len(ca)-1):
        mina = ca[sa]
        minix = sa

        for sb in range (sa+1, len(ca)):  # 1이니까 10부터
            if mina > ca[sb]:
               mina = ca[sb]
               minix = sb
    
        temp = ca [sa]
        ca[sa] = ca [minix]
        ca [minix] = temp
    
        print(ca)
ca = [21,10,11,15,13]
user_sort(ca)
print(ca)

[10, 21, 11, 15, 13]
[10, 11, 21, 15, 13]
[10, 11, 13, 15, 21]
[10, 11, 13, 15, 21]
[10, 11, 13, 15, 21]

In [38]:
ca= [21,10,11,15,13]  
ca.sort()               # 오름차순
print(ca)

[10, 11, 13, 15, 21]

In [40]:
ca= [21,10,11,15,13]
ca.sort(reverse=True)   # 내림차순
print(ca)

[21, 15, 13, 11, 10]

# 딕셔너리를 매개변수로 사용하는 방법
괄호안 (ca) :파라미터, 매개변수
딕셔너리는 (Key, value)

In [42]:
a={'mon' : '월','tue' : '화', 'wed' : '수'}
print(a)

{'mon': '월', 'tue': '화', 'wed': '수'}

In [43]:
x = a
print(x)

{'mon': '월', 'tue': '화', 'wed': '수'}

In [45]:
x['mon'] = '일'  # 값을  x에만 줬는데  a 도 변경됨
print(x)
print(a)

{'mon': '일', 'tue': '화', 'wed': '수'}
{'mon': '일', 'tue': '화', 'wed': '수'}

In [50]:
def fch(x):  # function character change
    x['mon'] = '일'

In [56]:
a={'mon' : '월','tue' : '화', 'wed' : '수'}
print(a)
x = a
print(x)

{'mon': '월', 'tue': '화', 'wed': '수'}
{'mon': '월', 'tue': '화', 'wed': '수'}

In [62]:
print("함수 실행 전 : ",a)
fch(a)
print("함수 실행 후 : ",a)

함수 실행 전 :  {'mon': '일', 'tue': '화', 'wed': '수'}
함수 실행 후 :  {'mon': '일', 'tue': '화', 'wed': '수'}

In [58]:
print("함수 실행 전 : ",x)

함수 실행 전 :  {'mon': '일', 'tue': '화', 'wed': '수'}

# *args 에서 "*"의 의미 : 매개변수가 유동적일 때 "*" 사용함

In [67]:
def my_func(*args):  # 이름 상관 없음
    for arg in args:
        print(arg)
        
my_func(1,2,3,4,5)

1
2
3
4
5

In [66]:
my_func(1,2,3)

1
2
3

## **kwargs 에서 "**" 의미 : 딕셔너리 데이터를 파라미터로 사용(유동적)

In [71]:
def my_func(**kwargs):
    for key, value in kwargs.items():  # 딕셔너리 개수만큼 모음
        print('key : ',key, '.value : ' value)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1482575960.py, line 3)

In [77]:
my_func(name='john',age =30, gender 'male' , loc ='서울시')

SyntaxError: positional argument follows keyword argument (2468795710.py, line 1)

In [82]:
def my_func(args, **kwargs):    # *, **는 순서가 바뀌면 안됨
        for arg in args:
            print(arg)
        for key, value in kwargs.items():
            print('key:/',key,'value:'.value)

In [ ]:
my_func(1,2,3,4,5, name