# 1. 조건문 예제

## 1.1 짝수와 홀수 판별하기

In [16]:
number = int(input("정수를 입력하세요: "))

if number % 2 == 0:
    print(f"{number}은(는) 짝수입니다.")
else:
    print(f"{number}은(는) 홀수입니다.")

정수를 입력하세요:  55

55은(는) 홀수입니다.

## 1.2 성적에 따른 학점 출력

In [15]:
# 점수를 입력받아 학점을 출력
score = int(input("점수를 입력하세요 (0 ~ 100): "))

if score >= 90:
    print("A학점입니다.")
elif score >= 80:
    print("B학점입니다.")
elif score >= 70:
    print("C학점입니다.")
elif score >= 60:
    print("D학점입니다.")
else:
    print("F학점입니다.")

점수를 입력하세요 (0 ~ 100):  55

F학점입니다.

## 1.3 로그인 시스템

In [20]:
# 간단한 로그인 시스템
user_id = "admin"
user_pw = "1234"

input_id = input('사용자 아이디를 입력하세요')
input_pw = input('사용자 비밀번호를 입력하세요')

if user_id == input_id:
    if user_pw == input_pw:
        print('로그인 성공!')
    else:
        print('비밀번호가 틀립니다.')
else:
    print('등록된 사용자 아이디가 틀립니다.')

사용자 아이디를 입력하세요 ad
사용자 비밀번호를 입력하세요 11

등록된 사용자 아이디가 틀립니다.

In [22]:
# 간단한 로그인 시스템
user_id = "admin"
user_pw = "1234"

input_id = input('사용자 아이디를 입력하세요')
input_pw = input('사용자 비밀번호를 입력하세요')

if user_id == input_id and user_pw == input_pw:
    print('로그인 성공!')
else:
    print('등록된 사용자 아이디 또는 비밀번호가 틀립니다.')

사용자 아이디를 입력하세요 bdmin
사용자 비밀번호를 입력하세요 1234

등록된 사용자 아이디 또는 비밀번호가 틀립니다.

# 2. 반복문 예제

## 2.1 1부터 10까지 숫자 출력 (for문)

In [27]:
for i in range(1, 11, 1): # (초기값, 목표값 + 1, 증가값)
    print(i)

1
2
3
4
5
6
7
8
9
10

In [34]:
for i in range(1, 11, 2): # (초기값, 목표값 + 1, 증가값)
    print(i, end=" ")

1 3 5 7 9

In [31]:
text_list = ['a', 'b', 'c', 'd']

for txt in text_list:
    print(txt, end=" ")

a b c d

## 2.2 특정 단 구구단 출력

In [36]:
# 사용자로부터 구구단 단수를 입력받아 출력
dan = int(input("출력할 구구단의 단수를 입력하세요: "))

for i in range(1, 10):
    print(f'{dan} X {i} = {dan * i}')

출력할 구구단의 단수를 입력하세요:  5

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

## 2.3 리스트 요소 출력

In [37]:
# 리스트에 저장된 과일 이름 출력
fruits = ["사과", "바나나", "포도", "오렌지"]

for fruit in fruits:
    print(fruit)

사과
바나나
포도
오렌지

## 2.4 for 문 사용해서 1 ~ 100까지 합계 구하기

In [38]:
tot = 0

for i in range(1, 101):
    tot = tot + i

print('합계 = ', tot)

합계 =  5050

## 2.5 while 문 사용해서 1 ~ 100까지 합계 구하기

In [40]:
# while문에서 break 사용 예제
tot = 0
cnt = 0

while True:
    if cnt > 99:
        break
        
    cnt = cnt + 1
    tot = tot + cnt

print('합계 = ', tot)

합계 =  5050

In [43]:
tot = 0
cnt = 0

while cnt < 100:        
    cnt = cnt + 1
    tot = tot + cnt

print(f"1부터 {cnt}까지의 합은 {tot}입니다.")

1부터 100까지의 합은 5050입니다.

## 2.6 continue 사용 예제

In [45]:
# 1 부터 10까지 출력하는데 짝수만 출력하시오.

for i in range(1, 11):
    if i % 2 == 1:
        continue
    print(i)

2
4
6
8
10

## 2.7 별 출력 프로그램

In [49]:
print('*' * 10)

**********

In [47]:
# 사용자로 부터 숫자를 입력받아서 해당 숫자만큼 별을 출력

n = int(input('출력할 줄 수를 입력하세요:'))

for i in range(1, n + 1):
    print('*' * i)

출력할 줄 수를 입력하세요: 10

*
**
***
****
*****
******
*******
********
*********
**********

## 2.8 숫자 피라미드 만들기

In [51]:
n = int(input('피라미드의 높이를 입력하세요:'))

for i in range(1, n + 1 ):
    for j in range(1, i + 1):
        print(j, end=' ')
    print()

피라미드의 높이를 입력하세요: 10

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10

## 2.9 숫자 피라미드 만들기

In [54]:
for i in range(2, 10):
    print(f'\n    {i} 단')
    for j in range(1, 10):
        print(f'{i} X {j} = {i * j}')

    2 단
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

    3 단
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

    4 단
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

    5 단
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

    6 단
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54

    7 단
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

    8 단
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

    9 단
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81