# 최댓값 찾기 (if문)

In [1]:
ca = [10, 17, 13, 11]

max = ca[0]
if max < ca[1]:
    max = ca[1]
    
if max < ca[2]:
    max = ca[2]

if max < ca[3]:
    max = ca[3]  

print(max)

17

# for 문을 사용해서 최댓값 찾기

In [11]:
ca = [10, 17, 13, 11]

maxc = ca[0]
for sb in range(1, 4):
    if maxc < ca[sb]:
        maxc = ca[sb]

print(maxc)

17

# 원소의 갯수를 모를 경우

In [12]:
ca = [10, 17, 13, 11]

maxc = ca[0]
for sb in ca:
    if maxc < sb:
        maxc = sb

print(maxc)

17

In [13]:
ca = [10, 17, 13, 11]

maxc = ca[0]
for sb in range(1, len(ca)):
    if maxc < ca[sb]:
        maxc = ca[sb]

print(maxc)

17

In [14]:
ca = [10, 17, 13, 11]
max(ca)

17

# 원소의 정렬(sort)

In [19]:
ca = [21, 10, 11, 15, 13]

mina = ca[0]
minix = 0

for sb in range(1, len(ca)):
    if mina > ca[sb]:
        mina = ca[sb]
        minix = sb

temp = ca[0]
ca[0] = ca[minix]
ca[minix] = temp

print(ca)

[10, 21, 11, 15, 13]

In [20]:
mina = ca[1]
minix = 1

for sb in range(2, len(ca)):
    if mina > ca[sb]:
        mina = ca[sb]
        minix = sb

temp = ca[1]
ca[1] = ca[minix]
ca[minix] = temp

print(ca)

[10, 11, 21, 15, 13]

In [22]:
ca = [21, 10, 11, 15, 13]
for sa in range(0, len(ca) -1):
    mina = ca[sa]
    minix = sa
    
    for sb in range(sa +1, len(ca)):
        if mina > ca[sb]:
            mina = ca[sb]
            minix = sb
    
    temp = ca[sa]
    ca[sa] = ca[minix]
    ca[minix] = temp

    print(ca)

[10, 21, 11, 15, 13]
[10, 11, 21, 15, 13]
[10, 11, 13, 15, 21]
[10, 11, 13, 15, 21]

In [23]:
def user_sort(ca):
    for sa in range(0, len(ca) -1):
        mina = ca[sa]
        minix = sa
        
        for sb in range(sa +1, len(ca)):
            if mina > ca[sb]:
                mina = ca[sb]
                minix = sb
        
        temp = ca[sa]
        ca[sa] = ca[minix]
        ca[minix] = temp

ca = [21, 10, 11, 15, 13]
user_sort(ca)
print(ca)

[10, 11, 13, 15, 21]

In [24]:
ca = [21, 10, 11, 15, 13]
ca.sort()   # 오름차순
print(ca)

[10, 11, 13, 15, 21]

In [25]:
ca = [21, 10, 11, 15, 13]
ca.sort(reverse=True)   # 내림차순(reverse=True) 
print(ca)

[21, 15, 13, 11, 10]

# 딕셔너리를 매개변수로 사용하는 방법 
딕셔너리는 (key, value)

In [26]:
a = {'mon' : '월', 'tue' : '화', 'wed' : '수'}
print(a)

{'mon': '월', 'tue': '화', 'wed': '수'}

In [27]:
x = a
print(x)

{'mon': '월', 'tue': '화', 'wed': '수'}

In [28]:
x['mon'] = '일'
print(x)
print(a)

{'mon': '일', 'tue': '화', 'wed': '수'}
{'mon': '일', 'tue': '화', 'wed': '수'}

In [30]:
x = a
print(x)

{'mon': '월', 'tue': '화', 'wed': '수'}

In [31]:
def fch(x):
    x['mon'] = '일'

In [33]:
a = {'mon' : '월', 'tue' : '화', 'wed' : '수'}
print(a)
x = a
print(x)

{'mon': '월', 'tue': '화', 'wed': '수'}
{'mon': '월', 'tue': '화', 'wed': '수'}

In [34]:
print("함수 실행 전 : ", a)
fch(a)
print("함수 실행 후 : ", a)

함수 실행 전 :  {'mon': '월', 'tue': '화', 'wed': '수'}
함수 실행 후 :  {'mon': '일', 'tue': '화', 'wed': '수'}

In [35]:
print("함수 실행 후 : ", x)

함수 실행 후 :  {'mon': '일', 'tue': '화', 'wed': '수'}

## *args 에서 "*"의 의미 : 매개변수가 유동적일때 "*" 사용함.

In [36]:
def my_func(*args):
    for arg in args:
        print(arg)
        
my_func(1,2,3,4,5)

1
2
3
4
5

In [37]:
my_func(1,2,3)

1
2
3

In [38]:
def my_func(*xch):
    for arg in xch:
        print(arg)
        
my_func(1,2,3,4,5)

1
2
3
4
5

## **kwargs에서 "**" 의미 : 디셕너리 데이터를 파라미터로 사용하는데 (유동적)

In [39]:
def my_func(**kwargs):
    for key, value in kwargs.items():
        print('key : ', key, ' value : ', value)

In [40]:
my_func(name='john', age=30, gender='Male', loc='서울시')

key :  name  value :  john
key :  age  value :  30
key :  gender  value :  Male
key :  loc  value :  서울시

In [41]:
my_func(name='john', age=30, gender='Male')

key :  name  value :  john
key :  age  value :  30
key :  gender  value :  Male

In [42]:
def my_func(*args, **kwargs):   # *, ** 는 순서가 바뀌 안됨
    for arg in args:
        print(arg)
    for key, value in kwargs.items():
        print('key : ', key, ' value : ', value)

In [43]:
my_func(1,2,3,4,5, name='john', age=30, gender='Male')

1
2
3
4
5
key :  name  value :  john
key :  age  value :  30
key :  gender  value :  Male

In [45]:
def my_func(**kwargs, *args):   # *, ** 는 순서가 바뀌 안됨
    for arg in args:
        print(arg)
    for key, value in kwargs.items():
        print('key : ', key, ' value : ', value)

my_func(name='john', age=30, gender='Male', 1,2,3,4,5)

SyntaxError: arguments cannot follow var-keyword argument (60040778.py, line 1)

In [46]:
def my_func(*a, **b):   # *, ** 는 순서가 바뀌 안됨
    for arg in a:
        print(arg)
    for key, value in b.items():
        print('key : ', key, ' value : ', value)

In [47]:
my_func(1,2,3,4,5, name='john', age=30, gender='Male')

1
2
3
4
5
key :  name  value :  john
key :  age  value :  30
key :  gender  value :  Male